@use "sass:math";
@import "variables";

.window {
    margin: var(--window-margin) 8px;
    background-color: var(--window-bg-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: calc(100vh - var(--window-margin) * 2 - #{$base-margin} * 2);
    max-height: calc(100vh - var(--window-margin) * 2 - #{$base-margin} * 2);
    border-radius: 0.25rem;
    overflow: auto;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 0.25rem;
    }
    @media screen and (max-width: 575px) {
        // xs
        min-height: 247px;
        max-height: 247px;
    }
}

.param-container {
    margin: 5px auto 5px auto;
    display: flex;
    flex-direction: column;
}

.xxl {
    @media screen and (min-width: 1500px) {
        flex: 0 0 math.div(100%, 3);
    }
}
