@import "variables";

.window {
    margin: $window-margin;
    background-color: var(--window-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    // height: 54px;
}

.contents {
    padding: 0px 2px !important;

    & > * > * {
        color: var(--text-color);
        padding: 8px 8px !important;
    }
}

.button-group {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 100%;
    right: 10px;
    left: 10px;
    margin-bottom: 8px;

    & > * {
        z-index: 1;
        &:not(:first-child) {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:disabled,
        &:hover {
            color: var(--text-color);
            background-color: var(--select-highlight) !important;
            border-color: var(--border-color) !important;
            opacity: 1;
        }
    }
}
