.window {
    $margin: 8px;
    margin: $margin;
    background-color: var(--window-bg-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: calc(50vh - #{$margin} * 2 - 4px * 1);
    max-height: calc(50vh - #{$margin} * 2 - 4px * 1);
    border-radius: 0.25rem;
}

.list {
    max-height: calc(50vh - 2px * 1 - 8px * 2 - 10px - 33px);
    padding-bottom: 1px;
    margin-bottom: 5px;
    overflow: auto;
    padding-right: 0;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 0.25rem;
    }
}
